html, body{
  height: 100%;
  margin: 0;
}
h1, h2, h3, h4, h5, h6{
  margin: 0;
}
.touch-alert{
  display: none;
  min-width: 100%;
  min-height: 100%;
  background:  url(img/lookingup.jpg) 50% 50%;
  background-size: cover;
  font-family: "proxima-nova";
  color: white;
  padding-top: 50px;
  padding-bottom: 20px;
}

.touch-content{
  background-color: rgba(0,0,0, .7);
  border-radius: 2px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 5px;

}
.touch-content-2{
  background-color: rgba(0,0,0, .7);
  border-radius: 2px;
  width: 80%;
  margin: 10px auto;
  text-align: left;
  padding: 10px;
}
.touch-content-2 h3{
  text-align: center;
}

.mobile-list{
  list-style-type: none
}

.mobile-list li{
  margin-bottom: 10px;
}

section{
  height: 100%;
  color: white;
  position: relative;
  font-family: "proxima-nova";
}

a{
  color: white;
  text-decoration: underline;
}
a:hover{
  color: rgba(255, 255, 255, .5);
}
a:visited{
  color: white;
}
h2{
  text-transform: uppercase;
  font-weight: normal;
}

.inner{
  margin: 0 auto;
  max-width: 85%;
}
svg {
	visibility:hidden;
  width: 100%;

}
.st0{
  fill: none;
  stroke: white;
  stroke-width: 2px;
}

#one{
  background: linear-gradient(to bottom, rgba(0,0,0,0.45) 0%,rgba(0,0,0,0) 100%), url(img/lookingup.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

#two{
  background: linear-gradient(to bottom, rgba(0,0,0,0.45) 0%,rgba(0,0,0,0) 100%), url(img/landscapeskiss.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}


#three{
    background:linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%), url(img/runaway.jpg) no-repeat center center fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#four{
  background:linear-gradient(to bottom, rgba(0,0,0,0.45) 0%,rgba(0,0,0,0) 100%), url(img/hands.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#five{
    background:linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%), url(img/bwtrees.jpg) no-repeat center center fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.name-container{
  width: 80%;
  padding-top: 80px;
  z-index: 1000;
  margin: 0 auto;
}

.date-container{
  font-family: "proxima-nova";
  opacity: 0;
  z-index: 1000;
  text-transform: uppercase;
  margin: 0 auto;
  padding-left: 20px;
}

h5{
  font-size: 1em;
  font-weight: normal;
  margin-top: 15px;
}
.menu-bar{
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 950;
  background-color: rgba(0, 0, 0, .8);
  opacity: 0;
}
.menu-container{
  position: fixed;
  top: 5px;
  right: 20px;
  z-index: 1000;
 
}

.menu{
  list-style-type: none;
  font-family: "proxima-nova";
  opacity: 0;

}
.menu li{
  display: inline;
  text-transform: uppercase;

}
.menu li:hover{
  opacity: .7;
  cursor: pointer;
}

.ceremony-container{
  opacity: 0;
  position: absolute;
  top: 100px;
  width: 50%;
  background-color: rgba(0,0,0,.5);
  border-radius: 2px;
  
}
.ceremony-content{
 padding: 20px;
}
.ceremony-content h2{
  margin-bottom: 20px;
}

.ceremony-content h3{
  font-weight: normal;
}
.leaf-container{
  position: absolute;
  width: 10%;
  right: 40px;
  bottom: 0px;
  transform: rotate(50deg);
}
.leaf-1-svg{

}
.leaf{
  stroke: white;
  fill: none;
}
.hotel-container{
  opacity: 0;
  position: relative;
  top: 125px;
  width: 80%;
  margin: 0 auto;
  background-color: rgba(0,0,0,.7);
  border-radius: 2px;

}
.hotel-content{
 padding: 40px;
}
.hotel-content h2{
  margin-bottom: 20px;
}

.hotel-content h3{
  font-weight: normal;
}

.hotel-content h4{
  text-transform: uppercase;
  font-weight: normal
}

.registry-container{
  opacity: 0;
  position: relative;
  top: 90px;
  /*margin: 0 100px 0 auto;*/
  
  background-color: rgba(0,0,0,.5);
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  
}
.registry-content{
 padding: 20px;
 text-align: center;
 padding-top: 60px;
}
.registry-content h3{
   margin-top: 12px;
}

.registry-content a{
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;

}

.engage-container{
  opacity: 0;
  position: relative;
  top: 180px;
  /*margin: 0 100px 0 auto;*/
  
  background-color: rgba(0,0,0,.7);
  border-radius: 2px;
  width: 80%;
  margin: 0 auto;
  
}
.engage-content{
 padding: 40px;

}
.engage-content h5{
  text-align: right;
  margin-right: 20px;
 
}
.footer{
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: rgba(0,0,0,.8);
 
}
.footer h6{
  text-transform: uppercase;
  font-weight: normal
}
h6{
  font-size: .8em;
  padding: 3px;
   

}
