h1{
	color: white;
	font-family: helvetica; 
	text-align: center;
}

#std-contain{
	width: 100%;
}

.std{
	width: 100%;
}

#namesSvg{
	width: 70%;
	margin: 0 auto;
}

svg{
	width: 100%;
	margin: 0 auto;
}